---
import Navigation from "../components/Navigation.astro";
import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";
import Layout from "../layouts/Layout.astro";
import RotatingText from "../components/RotatingText.astro";
import Button from "../components/Button.astro";
import IconButton from "../components/IconButton.astro";
import MailIconButton from "../components/MailIconButton.astro";

const bio = {
  english: {
    hello: "Hello.",
    description: [
      "with Devoting interest",
      "with a lot of curiousity",
      "with User-centered"
    ],
    developer: "a developer",
    nickname: ["Sangyoon Park", "Yoon"],
    end: "I'am"
  },
  korean: {
    hello: "안녕하세요.",
    description: ["목표를 위해 헌신하는", "사용자를 중시하는", "호기심이 많은"],
    developer: "개발자",
    nickname: ["박상윤", "윤"],
    end: "입니다."
  }
  // chinese: {
  //   hello: "您好，",
  //   description: ["精益求精的", "求知若渴的", "热爱创造的"], // 형용사 형태로 변경 및 "热爱创造的" 추가
  //   developer: "软件工程师",
  //   nickname: ["我是", "陆天"],
  //   end: "。"
  // }
};
---

<Layout>
  <Navigation />
  <MaxWidthWrapper>
    <div
      class="h-[calc(100%-3.5rem)] flex flex-col-reverse lg:flex-row lg:pt-16"
    >
      <div class="flex-3 flex flex-col lg:pb-0 pb-16">
        <div class="flex-5 flex flex-col justify-end gap-2 pb-8 text-5xl">
          <p>안녕하세요.</p>
          <p>
            <RotatingText
              cursor={true}
              deletingInterval={50}
              typingInterval={50}
              emptyPause={1000}
              pause={1500}
              eraseMode="erase"
              items={[
                "목표를 위해 헌신하는",
                "사용자를 중시하는",
                "호기심이 많은"
              ]}
            />
          </p>
          <p>
            개발자
            <RotatingText
              cursor={true}
              deletingInterval={50}
              typingInterval={50}
              emptyPause={1000}
              pause={1500}
              eraseMode="erase"
              items={["박상윤", "윤"]}
            />
            입니다.
          </p>
        </div>
        <div class="flex-3 flex flex-row">
          <div class="flex-5">
            <div class="h-14 flex gap-4 items-center justify-start">
              <IconButton
                name="github"
                link="https://github.com/onlyoon"
                imgStyle="w-7 h-7"
              />
              <IconButton
                src="/imgs/linkedin.svg"
                link="https://www.linkedin.com/in/sangyoon-park-onlyoon/"
                imgStyle="w-6 h-6"
              />
              <IconButton
                src="/imgs/twitter.svg"
                link="https://twitter.com/Parkyoon97"
                imgStyle="w-6 h-6"
              />
              <MailIconButton />
            </div>
          </div>
          <div class="flex-3 flex flex-col">
            <div class="flex-3">
              <Button
                text=""
                link="/about"
                className="group px-8 py-3 rounded-full bg-black text-white font-bold text-lg shadow-lg transition-all duration-200 hover:scale-105 hover:shadow-xl hover:bg-gradient-to-r hover:from-gray-800 hover:to-black focus:outline-none focus:ring-4 focus:ring-pink-300"
              >
                <span class="inline-flex">
                  <span class="group-hover:animate-bounce cta-bounce-1">A</span>
                  <span class="group-hover:animate-bounce cta-bounce-2">b</span>
                  <span class="group-hover:animate-bounce cta-bounce-3">o</span>
                  <span class="group-hover:animate-bounce cta-bounce-4">u</span>
                  <span class="group-hover:animate-bounce cta-bounce-5">t</span>
                </span>
                <!-- <span class="inline-flex">
                  <span class="group-hover:animate-bounce cta-bounce-6">m</span>
                  <span class="group-hover:animate-bounce cta-bounce-7">e</span>
                </span> -->
              </Button>
            </div>
            <div class="flex-5 flex flex-row justify-between"></div>
          </div>
        </div>
      </div>
      <div class="flex-5 w-full h-full flex justify-center">
        <div
          class="max-w-[400px] lg:max-w-none flex pb-16 lg:pt-0 lg:pr-16 lg:pl-16"
        >
          <img class="pl-8" src="/imgs/yoon3.png" alt="profile" />
        </div>
      </div>
    </div>
  </MaxWidthWrapper>
</Layout>
