---
import "../styles/global.css";

const { link, className = "" } = Astro.props;
---

<a href={link}>
  <button
    class=`w-full h-14 bg-black rounded-3xl text-white cursor-pointer ${className}`
    ><slot /></button
  >
</a>
