---
import "../styles/global.css";
---

<div
  class="w-full flex items-center justify-between mb-2 rounded-xl hover:bg-zinc-900 transition-colors duration-300 hover:text-white cursor-pointer"
>
  <div class="flex flex-row items-center gap-4">
    <div class="w-15 h-15 pl-2" id="3d-container-frontend"></div>
    <p class="font-bold text-xl">Frontend Engineer</p>
  </div>
  <div class="pr-4">
    <img src="/imgs/arrow-left-right.svg" alt="select job" class="w-4 h-4" />
  </div>
</div>
<div
  class="w-full flex items-center justify-between mb-2 rounded-xl hover:bg-zinc-900 transition-colors duration-300 hover:text-white cursor-pointer"
>
  <div class="flex flex-row items-center gap-4">
    <div class="w-15 h-15 pl-2" id="3d-container"></div>
    <p class="font-bold text-xl">FPV Drone product director</p>
  </div>
  <div class="pr-4">
    <img src="/imgs/arrow-left-right.svg" alt="select job" class="w-4 h-4" />
  </div>
</div>
