---
import "../styles/global.css";
---

<a href=`mailto:parkyoon97@gmail.com`>
  <button
    class="w-8 h-8 flex items-center justify-center overflow-hidden rounded-3xl text-white"
  >
    <img src=`/imgs/mail.svg` class="w-6 h-6" alt="mail button" />
  </button>
</a>
